body{
    text-align: center;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}
#wrapper{
    background-color: rgb(67, 94, 147);
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
}
input{
    border-radius: 10px;
    padding: 10px 20px;
}
p{
    font-size: 20px;
    font-weight: 600;
}